body{
  background-color: #333333;
}

a{
  text-decoration: none;
}

.bg-table{
  background-color: #4da82a;
  margin-top: 40px;
}

.bg-table > div{
  padding: 10px;
  border: 1px solid white;
  display: flex;
  align-items: center;
}

.text > div > button{
  color: white;
  margin-left: 100px;
  width: 100px;
}

.textCategory{
  width: 200px;
}

li{
  color: white;
}